.flex ul{
    display: flex;
    list-style: none;
}

.menu{
    display: flex;
    margin-top: 10px;
}

.menu p{
    margin-left: 15px;
    margin-top: 3px;
    font-family: "Century Gothic";
    font-weight: 700;
}

.cari{
    margin-left: 31%;
    display: flex;
    padding: 8px;
}

.cari .search{
    padding: 8px;
    color: rgb(163, 163, 163);
    font-style: italic;
    font-size: 10pt;
    border-radius: 25px;
    border-width: 2px;
}

.cari .button{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
    margin-left: 0.6%;
    position: absolute;
}

.log{
    margin-left: 29%;
    padding: 7px;
}

.login{
    padding: 8px;
    width: 65px;
    background-color: rgb(27, 27, 114);
    color: white;
    border-width: 0ch;
    border-radius: 10px;
}

.daftar{
    padding: 8px;
    width: 95px;
    font-style: bold;
    background-color: white;
    color: rgb(27, 27, 114);
    border-color: rgb(27, 27, 114);
    margin-left: 3px;
    border-radius: 10px;
}

.judul img{
    width: 325px;
    padding: 20px 20px 10px 20px;
}

.nav1{
    display: flex;
}

.nav1 > ul{
    list-style: none;
    display: flex;
    margin-left: 8%;
    padding: 12px;
}

.nav1 > ul > li{
    margin-right: 45px;
    color: white;
}

.nav1 a:hover{
    color: rgb(0, 0, 105);
    background-color: white;
    padding: 13px;
    transition: background-color 0.8s ease-out 100ms
}

.nav .nav1 .rumah{
    color: rgb(255, 166, 0);
    text-decoration: none;
}

.ul1 .rumah a:hover{
    color: rgb(71, 0, 73);
}

.ul1 li a{
    color: white;
    text-decoration: none;
}

.ul1 .rumah a{
    color: rgb(255, 166, 0);
    text-decoration: none;
}

.nav2 ul{
    list-style: none;
    display: flex;
    color: black;
    margin-left: 15%;
    text-decoration: underline;
}

.ul2 li a{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.nav2 .ul2 li{
    margin-right: 40px;
    padding: 8px;
}

.nav2 .ul2 .nav2kini{
    border-right: 1px rgb(156, 156, 156) solid;
    padding-left: 2%;
    padding-right: 5%;
    background: -webkit-linear-gradient(10deg, #ff3434, #2f0d4e);
    text-decoration: underline;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav2 .ul2 .nav2kini a:hover{
    font-weight: 100;
}

.nav2 .ul2 .trend a{
    background: linear-gradient(350deg, #ff0000, hsla(0, 100%, 50%, 0.514));
    padding: 6px 25px;
    color: white;
    border-radius: 5px;
}

.content img{
    border-radius: 10px 10px 0 0;  
    position: relative;
    z-index: 0;
}

//IraHumanitas2022

.content .hd{
    width: 600px;
    position: absolute;
    z-index: 2;
    color: white;
    font-family: "Century Gothic";
    margin-left: 20px;
    margin-top: 272px;
    font-size: 22pt;
    font-weight: 600;
}

.content img{
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.content img a:hover{
    -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.content .mei .hd:hover{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 19px 45px 40px 25px;
    margin-left: 0;
    margin-top: 255px;
}

.ket p{
    margin-top: 1%;
    margin-left: 3%;
    color: rgb(255, 166, 0);
    font-weight: 700;
    font-family: "Century Gothic";
}

.ket2{
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    text-decoration: none;
}

.content .ket2 .apel{
    float: left;
    width: 42%;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: "Century Gothic";
}

.ket2 .fakta{
    float: right;
    text-decoration: none;
    font-weight: bold;
    width: 50%;
    margin-left: 5%;
    color: white;
    font-family: "Century Gothic";
}

.subjudul img{
    border-radius: 10px;
}

.news, .feed1, .feed2, .feed3{
    margin-left: 3%;
    margin-top: 3%;
}

.left .subjudul .news{
    margin-top: 5%;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16pt;
    background: linear-gradient(30deg, #830057, #431172);
    padding: 10px 15px;
    width: 175px;
    color: white;
    border-radius: 0px 15px 15px 0;
}

.subjudul .feed1{
    display: flex;
}

.subjudul .feed1 img{
    float: right;
    margin-right: 3%;
}

.subjudul .feed1 .kata{
    width: 450px;
    list-style: none;
    float: left;
}

.subjudul .feed1 .kata ul{
    list-style: none;
}

.subjudul .feed1 .kata ul li{
    margin-top: 20px;
}

.feed1 a, .feed2 a, .feed3 a{
    text-decoration: none;
    color: black;
}

.subjudul .detik{
    color: rgb(255, 166, 0);
    font-family: "Century Gothic";
    font-weight: bold;
    tab-size: 14pt;
}

.subjudul .desc{
    color: black;
    font-family: "Century Gothic";
    font-weight: bolder;
    font-size: 16pt;
    width: 90%;
}

.subjudul .noun{
    color: #808080;
    font-family: "Century Gothic";
    font-weight: 200;
    font-size: 10pt;
}

.subjudul .feed2{
    margin-top: 6.5%;
    display: flex;
}

.subjudul .feed2 img{
    float: left;
}

.subjudul .feed2 .kata{
    float: right;
    margin-left: 5%;
}

.subjudul .feed2 .kata ul li{
    list-style: none;
    margin-top: 18px;
}


.subjudul .feed3 .kata ul li{
    list-style: none;
    margin-top: 10px;
}

.subjudul .feed3{
    margin-top: 6.5%;
    display: flex;
}

.subjudul .feed3 img{
    float: left;
}

.subjudul .feed3 .kata{
    float: right;
    margin-left: 5%;
}

.subjudul .akh{
    text-align: center;
    color: #808080;
    font-style: italic;
    font-weight: 500;
    margin-top: 7%;
}

.scrol a{
    text-decoration: none;
    color: black;
    font-family: "Century Gothic";
    font-weight: 600;
}

.scrol .satu, .scrol .dua, .scrol .tiga{
    margin-left: 3%;
    width: 35%;
}

.scrol .satu img, .scrol .dua img, .scrol .tiga img{
    border-radius: 5px;
}

.scrol .satu ul, .scrol .dua ul, .scrol .tiga ul{
    list-style: none;
    width: 180px;
}

.scrol .tgl{
    color: rgb(148, 148, 148);
    font-size: 8pt;
    font-family: "Century Gothic";
    margin-top: 15px;
}

.tiada p{
    margin-top: 8%;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16pt;
    background: linear-gradient(30deg, #830057, #431172);
    padding: 15px;
    width: 425px;
    color: white;
    border-radius: 0px 15px 15px 0;
}

.sidebar2{
    padding: 10px 20px;
}

.sidebar2 ul li{
    list-style: none;
    margin-top: 3%;
    display: flex;
}

.sidebar2 ul li a{
    font-family: "Century Gothic";
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin: 2% 5% 0 5%;
}

.sidebar2 ol li p{
    color: #2f0d4e;
    font-size: 14px;
    font-family: "Century Gothic";
    margin-left: 3%;
}

.sidebar3 img{
    margin-top: 4%;
}

.sidebar3 ul li{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.sidebar3 ul li a{
    text-decoration: none;
    color: black;
    font-family: "Century Gothic";
    text-decoration: none;
    font-weight: bolder;
    margin: 5% 5% 0 5%;
}

.sidebar1 p{
    color: #2f0d4e;
    font-family: "Century Gothic";
    font-weight: bolder;
    font-size: 16pt;
}

.sidebar1 ul{
    list-style: "#";
    margin-top: 1%;
    margin-left: 3%;
}

.sidebar1 ul li{
    border-bottom: solid rgb(148, 148, 148) 1pt;
    padding: 10px 20px;
    color: black;
    font-family: "Century Gothic";
    font-weight: 700;
}

.sidebar4>p{
    color: rgb(71, 0, 73);
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16pt;
    margin-top: 3%;
}

.sidebar4 ul{
    list-style: none;
}

.sidebar4 ul .barkomen{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
}

.sidebar4 ul .barkomen .angka .nomor{
    color: rgb(255, 166, 0);
    font-family: "Century Gothic";
    font-size: 16pt;
    font-weight: bolder;
    text-align: center;
}

.sidebar4 ul .barkomen .angka p{
    color: rgb(148, 148, 148);
    font-family: "Century Gothic";
    font-size: 10pt;
    text-align: center;
}

.sidebar4 ul .barkomen p{
    color: rgb(0, 0, 0);
    font-family: "Century Gothic";
    font-size: 14pt;
    font-weight: 500;
    margin-left: 5%;
}

.ftr p{
    color: white;
    font-family: monospace;
    font-size: 500%;
    font-weight: bolder;
    margin-left: 10%;
    padding-top: 2%;
    width: 25%;
    opacity: 0.2;
}

.ftr ul{
    list-style: none;
    padding-top: 25px;
}

.ftr .power{
    color: white;
    font-family: "Century Gothic";
    font-size: 10pt;
    font-weight: 500;
    padding: 30px 150px;
    width: 75px;
}

.ftr .biasa{
    color: white;
    font-family: "Century Gothic";
    font-size: 12pt;
    font-weight: 500;
    margin: 0;
}
.ftr .biasa li{
    margin-top: 8px;
}

